
jax/
.idea/vcs.xml
.idea/vcs.xml
*.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/shelf/Uncommitted_changes_before_Update_at_29_10_23,_7_50_pm_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_29_10_23,_7_50_pm_\[Changes\]1/shelved.patch
.DS_Store
*.iml
.idea/shelf/Uncommitted_changes_before_Merge_at_02_11_23,_10_49_pm_\[Changes\]/shelved.patch
__pycache__/tsnejax.cpython-311.pyc
__pycache__/tsnejax.cpython-311.pyc
.idea/shelf/Uncommitted_changes_before_Merge_at_06_11_23,_10_27_am_\[Changes\]/shelved.patch
__pycache__/tsnenumpy.cpython-311.pyc
*.patch
