
jax/
.idea/vcs.xml
.idea/vcs.xml
*.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/shelf/Uncommitted_changes_before_Update_at_29_10_23,_7_50_pm_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_29_10_23,_7_50_pm_\[Changes\]1/shelved.patch
.DS_Store
*.iml
.idea/shelf/Uncommitted_changes_before_Merge_at_02_11_23,_10_49_pm_\[Changes\]/shelved.patch
__pycache__/tsnejax.cpython-311.pyc
__pycache__/tsnejax.cpython-311.pyc
.idea/shelf/Uncommitted_changes_before_Merge_at_06_11_23,_10_27_am_\[Changes\]/shelved.patch
__pycache__/tsnenumpy.cpython-311.pyc
.idea/shelf/Uncommitted_changes_before_Checkout_at_06_11_23,_10_08_pm_\[Changes\]/shelved.patch
*.patch
__pycache__/tsnejax.cpython-39.pyc
__pycache__/tsnenumpy.cpython-39.pyc
.dvcignore
.dvc/config
.dvcignore
.dvc/config
.dvcignore
*.db
.dvcignore
__pycache__/project_logger.cpython-311.pyc
cqueue/__pycache__/__init__.cpython-311.pyc
api/flask_app.log
*.log
*.pyc
*.pyc
*.log
*.log
*.pyc
